html,
body {
  margin: 0;
  padding: 0;
  font-family: "Scope One", serif;
  background-color: #8accc9;
  color: #432000;

  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 220px;
  margin: 0 auto;
}

input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Scope One", serif;
  margin: 10px 0;

  outline: none;
}

input:focus {
  background: #f1eca49f;

  color: #217fcc;

  letter-spacing: 1px;
}

input:focus::placeholder {
  color: transparent;

  border-radius: 10px;
}

::placeholder {
  color: #217fcc;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  color: #fdfdfd;
  background-color: #ac485a;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Scope One", serif;
}

button:hover {
  background-color: #217fcc;
}

ul {
  display: flex;
  flex-wrap: wrap;

  gap: 10px 10px;
  padding: 0;
}

#shopping-list {
  margin: 15px auto;

  font-family: "Scope One", serif;
  letter-spacing: 1px;
}

ul li {
  list-style-type: none;

  background-color: #f8feff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

  padding: 15px;
  border-radius: 10px;
  flex-grow: 1;

  text-align: center;
  font-size: 20px;
}

ul li:hover {
  background: #ffb548;
  cursor: pointer;
}

.disclaimer {
  transform: translate(0%, 800%);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;

  color: #da1e40;
  font-family: "Scope One", serif;
}
